<p-growl [value]="msgs"></p-growl>
<div class="ui-g-12 ui-md-4">
    <p-chart type="line" [data]="nbUtilisateursJira" (onDataSelect)="selectJira($event)"></p-chart>
</div>
<div class="ui-g-12 ui-md-4">
    <p-chart type="line" [data]="nbUtilisateursConfluence" (onDataSelect)="selectConfluence($event)"></p-chart>
</div>
<div class="ui-g-12 ui-md-4">
        <p-chart type="line" [data]="nbUtilisateursStash" (onDataSelect)="selectStash($event)"></p-chart>
</div>