<div class="ui-g-11 ui-md-11 my-ui-g-sub">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ui-g-nopad">

            <p-dataTable [value]="utilisateurs" [rowHover]=true>
                <p-column field="applications" header="Application" [editable]="true">
                    <template let-col let-q="rowData" let-ri="rowIndex" pTemplate="body">
                        <div><span *ngFor="let test of q.applications">{{test.nom}}({{test.derniereConnexion  | date: 'dd-MM-yyyy'}})<br></span></div>
                    </template>
                </p-column>
                <p-column field="nom" header="Nom"></p-column>
                <p-column field="prenom" header="Prénom"></p-column>
            </p-dataTable>

        </div>
    </div>
</div>
