@media only screen and (max-width: 650px) {

    .my-ui-g-sub {
        width: 90%;
        height: 90%;
        margin-left: 12%;
        float: left;
        padding-right: 10%;
        padding-left: 6%;
    }

}

@media only screen and (min-width: 650px) {

    .my-ui-g-sub {
        width: 90%;
        height: 90%;
        margin-left: 7%;
        float: left;
    }

}