<div class="ui-g-11 ui-md-11 my-ui-g-sub">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ui-g-nopad">

            <p-dataTable [value]="applications" [rowHover]=true>
                <p-column field="nom" header="Nom d'application"></p-column>
                <p-column field="maximumUtilisateurs" header="Nb maximum des Utilisateurs"></p-column>
                <p-column field="seuilCritique" header="Seuil critique des Utilisateurs"></p-column>
                <p-column field="nombreUtilisateurs" header="Nb total des Utilisateurs"></p-column>
            </p-dataTable>

        </div>
    </div>
</div>