<div style="height: 100vh">
    <div class="ui-g-12 rmmp my-ui-g-header">
        <div class="ui-g-4 my-ui-g-header-in">

        </div>
        <div class="ui-g-4 my-ui-g-header-in">
            <h3 class='rmmp'>{{title}}</h3>
        </div>
        <div class="ui-g-4 my-ui-g-header-in">
        </div>
        <div class="ui-g-12 my-ui-g-bar">
        </div>
    </div>

    <div class="ui-g-1 ui-md-1 my-ui-g-menu">
        <button #menu routerLink="/accueil" class='my-menu-home-button my-button' pButton type="button" icon="fa-home" iconPos="center" style="margin-top: 10px;" (click)="goTo('/accueil')" tooltipEvent="hover" pTooltip="Accueil" tooltipPosition="right"></button>
        <button #listeApplications routerLink="/listeApplications" class='my-menu-home-button my-button' pButton type="button" icon="fa-dashboard" iconPos="center" tooltipEvent="hover" pTooltip="Liste Applications" tooltipPosition="right"></button>
        <button #ajouterUtilisateur routerLink="/ajouterUtilisateur" class='my-menu-home-button my-button' pButton type="button" icon="fa-plus-circle" iconPos="center" tooltipEvent="hover" pTooltip="Ajouter Utilisateur" tooltipPosition="right"></button>
    </div>

    <router-outlet></router-outlet>

</div>