body {
    background-color: #efefef;
}

.rmmp {
    margin: 0px;
    padding: 0px;
}

.my-ui-g {
    width: 100%;
    height: 90%;
}

.my-ui-g-header{
    background: #c5c1c0;
    height: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;
}

.my-ui-g-header h3{
    color: #efefef;
    font-weight: lighter;
    font-family: "Lato",sans-serif;
    font-size: 30px;
}

.my-header-home-button {
    background: transparent;
    border: transparent;
    margin: 1px;
}


.my-menu-home-button {
    background: transparent;
    border: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left : auto;
    margin-right: auto;
}

.my-button {
    color: #ff3b3f;
}

.my-button:enabled:hover {
    background-color: #ff3b3f;
    color: #1a2930;
    border: transparent;
}

.my-button:focus {
    background-color: #ff3b3f;
    color: #1a2930;
    border-color: #c5c1c0;
}

.my-border {
    border: solid 1px;
}

.my-ui-g-header-in {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.my-ui-g-bar {
    background: #ff3b3f;
    height: 15px;
    padding: 0px;
    margin-top: auto;
}

.my-ui-g-menu {
    background: #1a2930;
    height: 100vh;
    z-index: 1;
    position: fixed;
    left: 0px;
    max-width: 5%;
    min-width: 45px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}