<div class="ui-g-11 ui-md-11 my-ui-g-sub">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-12 ui-g-nopad">

            <span class="ui-float-label">
                <input #nom id="nom" type="text" size="30" pInputText> 
                <label for="float-input">Nom</label>
            </span>

            <span class="ui-float-label">
                <input #prenom id="prenom" type="text" size="30" pInputText> 
                <label for="float-input">Prénom</label>
            </span>

             <span class="ui-float-label">
                <input #mail id="mail" type="text" size="30" pInputText> 
                <label for="float-input">Mail</label>
            </span>

            <p-listbox [options]="applications" [(ngModel)]="selectedApplications" optionLabel="nom"></p-listbox>

            <p-button label="Ajouter" (onClick)="handleClick(nom.value, prenom.value, mail.value)"></p-button>

        </div>
    </div>
</div>