/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/primeng/resources/themes/omega/theme.css');
@import url('../node_modules/primeng/resources/primeng.min.css');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

